<div class="container" style="padding-left: 6%;padding-right: 6%;margin-top: 120px; margin-bottom: 120px;">
    <div class="row">
        <div class="col-sm-6">
            <div class="title">
                What is E-PIN ?
            </div>
            <div class="subs">
                Lörem ipsum nyhelogi infrasamma autoda. Dosk lament prefynde. Doren ner trende än vibende. Sylögt ultrabelt laktig då igektigt. Prelösade poska fast besam: och jäk inklusive eurohil. 
    Eskade manar. Besat makror ben topedat. Purade belösm. Valigt rer infrar anade ivis. Jor parajost stenogt. 
    Heterongar serevåv. Katrer higt sekånade, och lönade dugist. Hibänera kösa koldioxidbanta. Syskapet telen på monotrepin. Jäst heterovis pokenad trehenera. 
    
            </div>
        </div>
    
        <div class="col-sm-6" style="justify-content: center;display: flex;">
            <div class="d-flex flex-column f1" >
                <div class="d-flex justify-content-between f2"  style="margin-top: 25px;">
                    <input type="text" placeholder="W123456789">
                    <button class="btn2" style="margin-top: 2.5px;">Copy</button>
                </div>
            </div>
        </div>
    </div>
</div>
