<div class="contact">
  <div class="container">
    <div class="row">
      <div class="col-sm-7" >
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title2">Contact Us</h1>
          <div class="subs">Got any queries? send us a message. Our team will contact you in a moment</div>
          <div class="d-flex justify-content-between" style="max-width: 450px;margin-top: 50px;">
            <input class="inp" type="text" placeholder="First Name">
            <input class="inp" type="text" placeholder="Last Name">
          </div>
          <div class="d-flex justify-content-between" style="max-width: 450px;margin-top: 20px;">
            <input class="inp" type="text" placeholder="Email">
            <input class="inp" type="text" placeholder="Mobile No.">
          </div>
          <textarea class="inp" name="description" id="desc" cols="30" rows="30" placeholder="Send Message"></textarea>
        </div>
        <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 20px;margin-bottom: 50px;">Get Started</a>
    </div>
  </div>
</div>
</div>