<div class="row">
    <div class="col">
<app-side-menu></app-side-menu>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-3">
            <div class="title">Personal Details</div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Premium Subscription Plan</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">Advanced</div>
                <div class="plan-details" style="color: #CE992F;font-size: 14px;">Rs. 14999</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Account Expiry Date</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">16/04/2023</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Joining Date</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">16/01/2020</div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Last Renewal Date</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">17/10/2022</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >No. of levels reached</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">Level 10</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Total Commission Earned</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">Rs. 84980</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >KYC status</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">16/01/2020</div>
                <div class="plan-details" style="color: #CE992F;font-size: 14px;text-decoration: underline;">Complete Now</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="divider"></div>
    </div>
</div>

<div class="container">
    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-3">
            <div class="title">Current month business</div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Direct Subscriptions</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">16</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Team Subscriptions</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">12</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Earning this Month</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">Rs. 20000</div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="divider"></div>
    </div>
</div>

<div class="container" style="margin-bottom: 20px;">
    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-3">
            <div class="title">Overall business summary</div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >No. of course 1 subscription</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">14</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >No. of course 2 subscription</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">08</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >No. of course 3 subscription</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">02</div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 60px;">
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Total Direct Subscription</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">17/10/2022</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >Total team subscriptions</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">10</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >No. of levels reached</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">10 Levels</div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="label d-flex flex-column" id="p1">
                <div class="plan-details" >No. of pairs completed</div>
                <div class="plan-details" style="margin-top: 50px;color: #CE992F;">04</div>
            </div>
        </div>
    </div>
</div>
