<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="d-flex flex-column" style="align-items: center">
        <div class="label" style="width: 300px">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />
            <div style="font: 5px" class="title">
              Become a Forex / Stock Market trading Expert
            </div>
          </div>
        </div>
        <div class="label" style="width: 318px">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />
            <div class="title">Multiple Sources of Income</div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="d-flex flex-column" style="align-items: center">
        <img
          src="../../assets/img/undraw-online-learning-re-qw08-1@1x.svg"
          alt=""
        />
        <div class="course-title">Earn Extra Income from Referral Business</div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="d-flex flex-column" style="align-items: center">
        <div class="label" style="width: 300px">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />
            <div class="title">Start your Own MoneySaga Franchisee</div>
          </div>
        </div>

        <div class="label" style="width: 305px" *ngIf="logedIn">
          <div class="d-flex justify-content-between" style="width: 250px">
            <img
              src="../../assets/img/image-4@2x.png"
              alt=""
              style="width: 20px; height: 20px; margin-top: 7px"
            />
            <div class="title">Earn Extra Income from Referral Business</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 60px; margin-bottom: 60px">
    <div class="d-flex justify-content-evenly" style="margin-right: 10px">
      <div (click)="razor_pay1()" class="label2 d-flex flex-column">
        <div class="plan-details" style="margin-top: 10px">
          Forex Market 
        </div>
        <div class="plan-details" style="margin-top: 10px">
           Education
        </div>
        <div class="plan-details" style="margin-top: 80px; color: #ce992f">
          Rs. 15000 +GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 245 USD
        </div>
      </div>

      <div
        (click)="razor_pay2()"
        class="label2 d-flex flex-column"
        style="margin-left: 10px"
      >
        <div class="plan-details">Indian Stock </div>
        <div class="plan-details"> Education</div>
        <div class="plan-details" style="margin-top: 80px; color: #ce992f">
          Rs. 15000 +GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 245 USD
        </div>
      </div>

      <div
        (click)="razor_pay3()"
        class="label2 d-flex flex-column"
        style="margin-left: 10px"
      >
        <div class="plan-details">Combo Course</div>
        <div class="plan-details" style="margin-left: 5px; text-align: center">
          Education <br />India + Forex Stock
        </div>
        <div class="plan-details">Education</div>
        <div class="plan-details" style="margin-top: 25pxpx; color: #ce992f">
          Rs. 25000 +GST
        </div>
        <div class="plan-details" style="margin-top: 5px; color: #ce992f">
          OR 405 USD
        </div>
      </div>
    </div>
  </div>
</div>
