<div class="banner">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="text-center title" style="margin-top: 80px;">Our privacy policy</div>
        </div>
    </div>
</div>

<div class="subs">
    MoneySaga WealthGenics Subscription Services is only available for 18 years old and above.
<br><br>The subscription fees is valid only for the duration of Course and is not transferrable.
<br><br>Fees Once paid will not be refunded at any cost.
<br><br>The Renewal Fee is to be paid before end of Subscription period and is non-refundable.
<br><br>The Business Incomes will be paid only through Bank Transfers.  Other Sources will not be considered.
<br><br>Anybody who is found doing cash dealings will be punished.
<br><br>The subscription or renewal fees will be cancelled and the Id will be terminated if anybody is found guilty of fraudulent activities. And MoneySaga Consultancy has the sole right to do so.
<br><br>MoneySaga Consultancy is purely responsible to provide quality education. However, it can’t be held responsible for the Market Volatility and its repercussions.
<br><br>MoneySaga Consultancy cannot be held responsible at any point for any false commitments made by the subscribers or their understanding of the education provided.
<br><br>Any Subscriber found Copying, recording or forwarding any course material will be terminated from the System. The course will be blocked and legal action will be taken against the person found doing so

</div>

