<div class="banner">
  <div class="container" style="padding-left: 3%;padding-right: 3%;">
    <div class="row">
      <div class="col-sm-7" >
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title" style="width: 800px;">Why Forex Market is becoming so Powerful these days?</h1>
          <p class="get">
            •	The foreign exchange (also known as Forex or FX) market is a Global marketplace for Exchanging National currencies. However, it is not limited just to Exchanging currencies now. Traders from more than 150 countries have understood the importance of Forex Trading and they are now becoming experts into it. Forex Market has reached Worldwide for Trade, Commerce, and Finance. Forex markets tend to be the World’s largest and most liquid asset markets. Currencies trade against each other as exchange rate pairs. For example, EUR/USD is a currency pair for trading the euro against the U.S. dollar.
          <br><br>•	Forex markets exist as spot (cash) markets as well as derivatives markets, offering forwards, futures, options, and currency swaps.
        <br><br>•	Market participants use forex to hedge against international currency and interest rate risk, to speculate on geopolitical events, and to diversify portfolios, among other reasons.
      <br><br>
          </p>
          
            <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 160px;">Get Started</a>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="d-flex flex-column">
          <img class="img1" src="../../assets/img/rectangle-969@2x.png" alt="">
          <img class="img2" src="../../assets/img/rectangle-971@2x.png" alt="">
          <img class="img3" src="../../assets/img/rectangle-970@2x.png" alt="">
          <img class="img4" src="../../assets/img/rectangle-972@2x.png" alt="">
        </div>
    </div>
    </div>
  </div>
</div>
    <div class="text-center main-text" style="color: #CE992F;margin-top: 50px;">Become a Forex Pro-Trader</div>
    <br><br><br><br>

    <div class="row" style="padding-left: 40px;padding-right: 40px;">
        <div class="col-sm-6">
            <img src="../../assets/Rectangle 975.png" alt="">
        </div>
        <div class="col-sm-6">
            <div class="d-flex flex-column" style="justify-content:start;height: 200px;">
                <div class="main-text">Why Learn from MoneySaga Consultancy Services LLP</div>
                <p style="color: white;font-family:poppins">
                  <br>•	Entire Forex Course from Beginner to Expert is Available
                  <br><br>•	Course provided in the Form of Pre-recorded session, so you can access it from ANY PLACE, ANY TIME and can be repeated “N” number of times.
                  <br><br>•	Easy to Understand in 2 Languages. Hindi and English
                  <br><br>•	Facility of Premium Telegram Channel for daily updates and trades for Education purpose
<br><br>•	On-going Practical Online sessions so that the entire course is understood and all the doubts are cleared.
<br><br>•	Not only have the theoretical knowledge but to acquire practical knowledge such as identifying the trade, Entering and Exiting from the trade, placing the stoploss and hitting the desired targets
<br><br>•	Plan the perfect trades with right Risk to Reward ratio. 
<br><br>
                    </p>
            </div>
        </div>
    </div>

    <br><br><br><br>

    <div class="row" style="padding-left: 40px;padding-right: 40px;">
        <div class="col-sm-6">
            <div class="d-flex flex-column" style="justify-content:start;height: 190px;">
                <div class="main-text">Change to Learn Anywhere, Anytime at your Own Comfort</div>
                <p style="color: white;font-family:poppins">
                  <br>•	Not required to join the classes physical classes as the course is mobile based and with practical On-line sessions
                  <br><br>•	Login with the User-Id provided and enjoy the learnings
                  <br><br>•	Course provided in the Form of Pre-recorded session, so you can access it from ANY PLACE, ANY TIME and can be repeated “N” number of times.
                  <br>
                    </p>
            </div>
        </div>
        <div class="col-sm-6">
            <img src="../../assets/Rectangle 976.png" alt="">
        </div>
    </div>

    <div class="text-center main-text" style="color: #CE992F;margin-top: 70px;margin-bottom: 70px;">Educational Courses Launching Soon</div>

<div class="container">
  <div class="row">
    <div class="col-sm-3" style="position: relative;">
      <img class="imgUpd" src="../../assets/Rectangle 29.png" alt="">

      <img class="imgUpd" src="../../assets/Rectangle 32.png" alt="" style="margin-top: 40px;position: relative;left: 14%;">
    </div>

    <div class="col-sm-6" style="position: relative;left: 6%;">
        <div class="box d-flex flex-column justify-content-center" style="margin-top: 10%;">
          




          <div class="t1">•	Learn and Earn for Indian Stock Market Trading</div>
          <div class="t1">•	Mutual Funds, Life and General Insurance</div>
          <div class="t1">•	Financial Literacy for Teens and Youths</div>
          <div class="t1">•	Step-by Step planning for Early Financial Freedom</div>
          <div class="t1">•	Daily Rituals for maintaining and enjoying Wealthy Life-style </div>
        </div>
        <img class="imgUpd" src="../../assets/Rectangle 32.png" alt="" style="margin-top: 40px;position: relative;left: 12%;">
    </div>

    <div class="col-sm-3">
      <img class="imgUpd" src="../../assets/Rectangle 29.png" alt="">

      <img class="imgUpd" id="imgX" src="../../assets/Rectangle 32.png" alt="" style="margin-top: 40px;position: relative;">
    </div>

  </div>
</div>

<div class="text-center main-text" style="color: #CE992F;margin-top: 70px;margin-bottom: 70px;">Current Updates</div>

<div class="container" style="padding-left: 8%;
padding-right: 8%;">
  <div class="update">
    <div class="row">
      <div class="col-sm-6">
        <img class="updImg" src="../../assets/Rectangle 31.png" alt="" style="max-width: 492px;max-height: 398px;">
      </div>
      
      
      
      
      <div class="col-sm-6">
        <div class="title" style="font-size: 40px;">2 Day Physical session at MCCI Pune with Our Super Mentor.</div>
        <div class="subtitle">1.	More than 150 attendees in a batch of 50 each</div>
        <div class="subtitle">2.	One on One discussion with the Mentor Himself</div>
        <div class="subtitle">3.	Clearing of all the doubts and queries regarding the course and Mobile + Web Application</div>
        <div class="subtitle">4.	Hands On practice on Practical execution of trades </div>

      </div>
    </div>
  </div>
</div>

<!--CAROUSEL-->

<div class="container-xl" style="margin-top: 50px;margin-bottom: 50px;">
	<div class="row">
		<div class="col-lg-8 mx-auto">
			<h2>Testimonials</h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Carousel indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>   
				<!-- Wrapper for carousel items -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="img-box"><img src="" alt=""></div>
						<p class="testimonial">I have never seen such a easy platform to Learn trading. Even my 13 year daughter has completed the entire course and we are enjoying trading together.</p>
						<p class="overview"><b>Dr. Vilas Naik</b>, Advanced Course User</p>
					</div>
					<div class="carousel-item">
						<div class="img-box"><img src="" alt=""></div>
						<p class="testimonial">Well planned and guide to step-by step Forex Trading. All chapters nicely covered and most important, the doubt solving sessions are a real knowledge boosters.</p>
						<p class="overview"><b>Pramod Patil</b>, Advanced Course User</p>
					</div>
					<div class="carousel-item">
						<div class="img-box"><img src="" alt=""></div>
						<p class="testimonial">In depth knowledge of the Mentor and Handholding has made me achieve profitable trades and deep understanding of the strategies.</p>
						<p class="overview"><b>Manilal Kale</b>, Advanced Course User</p>
					</div>
				</div>
				<!-- Carousel controls -->
				<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="carousel-control-next" href="#myCarousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<!--END OF CAROUSEL-->


<div class="contact" style="margin-bottom: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-sm-7" >
        <div class="flex-column justify-content-center" style="align-items: center;">
          <h1 class="title2">Contact Us</h1>
          <div class="subs">Have Doubts / Queries ? Fill in the details below and send it to Us. We will get in touch will you at the Earliest.</div>
          <div  class="d-flex justify-content-between" id="cnt" style="max-width: 450px;margin-top: 50px;">
            <input class="inp" type="text" placeholder="First Name">
            <input class="inp" type="text" placeholder="Last Name">
          </div>
          <div class="d-flex justify-content-between" style="max-width: 450px;margin-top: 20px;">
            <input class="inp" type="text" placeholder="Email">
            <input class="inp" type="text" placeholder="Mobile No.">
          </div>
          <textarea class="inp" name="description" id="desc" cols="30" rows="30" placeholder="Send Message"></textarea>
        </div>
        <a class=" lg:inline-block lg:ml-auto lg:mr-3 py-2 px-6 bg-gray-50 hover:bg-gray-100 text-sm text-gray-900 font-bold  rounded-xl transition duration-200 menus" href="#" style="background: #CE992F;border-radius: 0px 30px 30px 20px;font-family: poppins;margin-top: 20px;margin-bottom: 50px;">Get Started</a>
    </div>
  </div>
</div>
</div>
